<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
    {{ site.head }}
  </head>

  <body>
    <header class="site-header">
      <div class="header-image"></div>
      <h1 class="site-title">{{ site.title }}</h1>
      <p class="site-tagline">{{ site.tagline }}</p>
    </header>

    <main class="content">
      {{ content }}
    </main>

    <footer class="site-footer">
      <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
    </footer>
  </body>
</html>
